<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles.css">
    <title>FastAPI</title>
</head>
<body>
<header>
    <h1>FastAPI</h1>
    <nav>
        <ul>
            <li><a href="/pages/home">Главная</a></li>
            <li><a href="/pages/aboutFastapi">О Fastapi</a></li>
            <li><a href="#">Статистика</a></li>
        </ul>
    </nav>
</header>
<section class="main-content">
    <h2>О FastAPI</h2>
    <p>FastAPI - это современный веб-фреймворк для создания веб-сервисов на языке Python. Он обладает выдающейся
        производительностью и позволяет быстро создавать RESTful API и веб-приложения. FastAPI основан на типизации
        Python и автоматически создает документацию API на основе аннотаций кода. Он также поддерживает асинхронное
        программирование, что делает его идеальным выбором для создания современных веб-приложений.</p>
</section>
<footer>
    <p>&copy; 2023 Мой сайт</p>
</footer>
</body>
</html>
